body {
    background-color: #F7EDF0;
}

.layout-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    /* border: 1px solid black; */
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 5vw;
}

.food-form-list-wrapper {
    display: flex;
    flex-direction: column;
}

/*---------------------------------------------*/

.form-wrapper {
    text-align: center;
    height: 45vh;
    display: flex;
    flex-direction: column;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 5vh; */
    /* border: 1px solid blue; */
    height: 40vh;
    width: 100%;
    overflow: hidden;
    /* justify-content: space-between; */
}

.form-title {
    text-decoration: underline;
}

.form-textarea {
    /* background-color: gray; */
}
/*---------------------------------------------*/

.food-list-wrapper {
    text-align: center;
    height: 40vh;
    display: block;
}

.food-list {
    display: block;
    width: 100%;
    height: 45vh;
    font-size: 10px;
    max-height: 250px;
}

.food-list-title {
    font-size: 30px;
    text-decoration: underline;
}

.hide-text {
    display: none;
}

.list {
    display: block;
    text-align: left;
    /* border: 1px solid black; */
}

.list-display {
    /* background-color:gray; */
}

.food-item {
    margin-left: 15px;
}
/*---------------------------------------------*/

.charts-wrapper {
    /* border: 1px solid green; */
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.nutrition-chart-wrapper {
    height: 45vh;
    width: 100%;
    margin-bottom: 2vh;
    display: block;
}

.nutrition-chart-title {
    text-decoration: underline;
    margin-top: 0;
}

#nutrition {
    max-height: 40vh;
    max-width: 40vw;
    margin: 0 12.5vw;
}

/*---------------------------------------------*/

.percentage-chart-wrapper {
    height: 44vh;
    display: grid;
    grid-template-columns: 30% 70%;
}

.percentage-chart-title {
    font-size: 30px;
    margin: 0;
    text-align: left;
}

.calories-gauge {
    height: 100%;
    /* width: 20vw; */
    /* width: 100%; */
}

.calories {
    height: 250px;
    width: 10vw;
    overflow: visible;
}

.sub-gauges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-gauge {
    width: 33%;
    min-width: 125px;
    display: block;
}

.sub-gauge-title {
    font-size: 16px;
}


.liquidFillGaugeText { 
    font-family: Helvetica; 
    font-weight: bold; 
    font-size: 20px;
}

/* @media screen and (min-width:900px) {
    .liquidFillGaugeText { 
        width: 5vw;
    }
} */

.gauge-size {
    /* width: 10vw; */
    align-items: center;
    /* border: 1px solid red; */
    /* display: inline-block; */
    /* overflow: visible; */
}



/*-----*/

.instructions {
    height: 150px;
}

h4 {
    margin: 4px 0;
}

.link-icon {
    /* height: 20px;
    width: 20px; */
    font-size: 30px;
    /* margin-right: 15px; */
    /* background-color: red; */
    /* border: 1px solid red; */
    padding: 0;
}

.space {
    padding: 0 10px;
}
/* .icon {
    display: inline-block;
} */