#polarChart {
    /* width: 30vw;
    height: 30vh; */
    /* height: 500px;
    width: 500px; */
}

.chart-container {
    /* height: 500px;
    width: 500px; */
}
/* .body {
    background-color: blue;
} */