.section-two{
    height: 60vh;
    width: 100vw;
    display: flex;
}

.hide-section {
    display: none;
}

.food-list {
    width: 40vw;
    background-color: #00A5CF;
}

.food-list-title {
    font-size: 2rem;
    margin: 3vh 0 3vh;
    text-align: center;
    color: white;
}

.list-display {
    margin-top: 3vh;
    margin-left: 3vw;
}

.donut {
    width: 60vw;
    background-color: #25A18E;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.donut-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 3vh 0 3vh;
}

@media screen and (min-width: 1651px) {
    .section-two {
        /* height: 80vh; */
        height: 700px;;
    }
    /* .donut {
        height: 500px;
        width: 500px;
    } */
}

@media screen and (max-width: 1650px) {
    .section-two {
        /* height: 70vh; */
        height: 600px;
    }
}

@media screen and (max-width: 1500px) {
    .section-two {
        /* height: 70vh; */
        height: 550px;
    }
}

@media screen and (max-width: 1310px) {
    .section-two {
        /* height: 60vh; */
        height: 500px;
    }
}

@media screen and (max-width: 1220px) {
    .section-two {
        /* height: 55vh; */
        height: 450px;
    }
}

@media screen and (max-width: 1030px) {
    .section-two {
        /* height: 50vh; */
        height: 400px;
    }
}

@media screen and (max-width: 910px) {
    .food-list {
        width: 35vw;
    }

    .donut {
        width: 65vw;
    }
}

@media screen and (max-width: 740px) {
    .section-two {
        flex-direction: column;
        /* height: 115vh; */
        height: 929px;
    }

    .food-list {
        width: 100vw;
        height: 48vh;
        /* height: 404px; */
    }

    .donut { 
        width: 100vw;
        /* height: 70vh; */
        height: 525px;
    }
}

@media screen and (max-width: 666px) {
    /* .section-two {
        height: 929px;
    } */

    /* .food-list {
        width: 100vw; */
        /* height: 48vh; */
        /* height: 404px; */
    /* } */

    .donut { 
        /* width: 100vw; */
        /* height: 70vh; */
        height: 525px;
    }
}

@media screen and (max-width: 600px) {
    .section-two {
        height: 95vh;
    }
    
    .donut {
        height: 55vh;
    }
}

@media screen and (max-width: 530px) {
    .section-two {
        height: 90vh;
    }

    .donut {
        height: 50vh;
    }
}