.section-two{
    /* height: 60vh; */
    width: 100vw;
    display: flex;
}

.hide-section {
    display: none;
}

.food-list {
    width: 40vw;
    background-color: #00A5CF;
}

.food-list-title {
    font-size: 2rem;
    margin: 3vh 0 3vh;
    text-align: center;
    color: white;
}

.list-display {
    margin-top: 3vh;
    margin-left: 3vw;
    font-size: 30px;
}

.donut {
    width: 60vw;
    background-color: #25A18E;
    display: flex;
    flex-direction: column;
}

.donut-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 3vh 0 3vh;
}

@media screen and (max-width: 3000px) {
    .section-two {
        height: 1000px;
    }

    .food-list-title, .donut-title {
        font-size: 50px;
    }
}

@media screen and (max-width: 2500px) {
    .section-two {
        height: 900px;
    }
}

@media screen and (max-width: 2000px) {
    .section-two {
        height: 800px;
    }
}

@media screen and (max-width: 1651px) {
    .section-two {
        height: 700px;;
    }
}

@media screen and (max-width: 1600px) {
    .section-two {
        height: 600px;
    }
}

@media screen and (max-width: 1450px) {
    .section-two {
        height: 575px;
    }

    .food-list-title, .donut-title {
        font-size: 48px;
    }
}

@media screen and (max-width: 1310px) {
    .section-two {
        height: 525px;
    }
}
@media screen and (max-width: 1233px) {
    .food-list-title, .donut-title {
        font-size: 45px;
    }
}


@media screen and (max-width: 1150px) {
    .section-two {
        height: 475px;
    }
}

@media screen and (max-width: 1045px) {
    .section-two {
        height: 450px;
    }

    .food-list-title, .donut-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 960px) {
    .food-list {
        width: 35vw;
    }

    .donut {
        width: 65vw;
    }

    .food-list-title, .donut-title {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .section-two {
        flex-direction: column;
        height: 925px;
    }

    .food-list {
        width: 100vw;
        height: 48vh;
        height: 400px;
    }

    .donut { 
        width: 100vw;
        height: 525px;
    }

    .food-list-title, .donut-title {
        font-size: 30px;
    }

    .food-item {
        font-size: 20px;
    }
}

@media screen and (max-width: 666px) {
    .donut { 
        height: 525px;
    }
}

@media screen and (max-width: 600px) {
    .section-two {
        height: 95vh;
    }
    
    .list {
        padding-bottom: 12px;
    }

    .donut {
        height: 55vh;
    }
}

@media screen and (max-width: 530px) {
    .section-two {
        height: 90vh;
    }

    .donut {
        height: 50vh;
    }
}