body {
    /* background-color: #004E64; */
    font-family: "Helvetica";
}

.header-section {
    height: 10vh;
    display: flex;
    /* background-color: #00A5CF; */
}

.title {
    color: #25A18E;
    /* font-size: 50px; */
    font-size: 3.25rem;
    /* font-size: 10vw; */
    
    /* position: absolute;
    top: 1.5vh;
    left: 2vw; */
    /* border: 1px solid black; */
    padding: 1.5vh 0 0 2vw;;
}

.links {
    padding: 1vh 0 0 3vw;
    position: absolute;
    top: 2vh;
    right: 5vw;
    /* border: 1px solid black; */
}

.link-icon {
    font-size: 30px;
    font-size: 2rem;
    padding: 0;
    color: black;
}

.space {
    padding: 0 10px;
}

.icon {
    text-decoration: none;
}

.start-section {
    background-color: #004E64;
    /* background-color: #00A5CF; */
    /* height: 90vh; */
}

 .message {
    color: #25A18E;
    text-align: center;
    font-size: 20px;
    /* padding: 20px 0 20px; */
    /* height: 12.5vh; */

    /*Latest*/
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 22.5vh;
    margin-bottom: 5vh;
    /* border: 1px solid black; */
}

.message p {
    /* margin-bottom: 15px; */
    margin: 2vh 0 2vh;
}

.instructions-section {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    /* height: 150px; */
    /* height: 24vh; */
    justify-content: space-around;
    /* border: 1px solid black; */
    /* padding-top: 2.5vh; */


    /*Latest*/
    height: 22.5vh;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.instructions-image {
    height: 15vh;
    width: 15vw;
    margin-top: 15px;
    /* border: 1px solid black; */
}

.arrow-box {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}

.arrow-image {
    height: 5vh;
    width: 5vw;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    /* height: 30vh; */
}

.form-title {
    display: block;
    text-align: center;
    color: white;
    /* font-size: 30px; */
    font-size: 1.75em;
    /* margin-top: 1vh; */
    position: relative;
    z-index: 10;
    height: 5vh;
    padding-top: 2vh;
}

.form-content {
   display: flex;
   flex-direction: column;
}

.form-textarea {
    height: 15vh;
    max-height: 15vh;
    width: 50vw;
    max-width: 50vw;
}

.food-log-section {
    /* border: 1px solid black; */
    height: 45vh;
    /* padding-top: 2.5vh; */
}

.error-message {
    color: red;
    text-align: center;
    position: relative;
    z-index: 50;
    height: 2vh;
    /* margin: 1vh 0 2vh; */
    margin-bottom: 1vh;
}

.form-button {
    background-color: black;
    color: white;
    border: none;
    /* margin-top: 1.75vh; */
    margin-top: 3vh;
    height: 5vh;
    width: 20vw;
    border-radius: 10px;
    /* border-radius: 1px; */
}

.button {
    text-align: center;
}


/* responsive */
@media screen and (max-width: 1045px) {
    .instructions-section {
        padding: 0 2vw 0;
    }

    .message {
        padding: 0 2vw 0;
    }
    
    .message p {
        margin: 2vh 0 1vh;
    }
}

@media screen and (max-width: 960px) {
    .arrow-box {
        display: none;
    }

    .message {
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 792px) {
    .title { 
        font-size: 3rem;
    }
    .instructions h4 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 666px) {
    .instructions-section {
        flex-direction: column;
        flex-wrap: wrap;
        height: 40vh;
    }

    .food-log-section {
        height: 50vh;
    }

    .message {
        font-size: 1.1rem;
    }

    .instructions-section {
        margin-bottom: 3vh;
        height: 45vh;
    }

    .instructions-image {
        /* margin: 0; */
        height: 15vh;
        width: 22vw;
        margin-top: 1vh;
    }

    .instructions h4 {
        margin-bottom: 1vh;
    }
}

@media screen and (max-width: 364px) {
    .title {
        font-size: 3rem;
    }

    .message {
        height: 25vh;
        font-size: 1rem;
    }

    .instructions-section {
        flex-wrap: nowrap;
        height: 70vh;
        margin-bottom: 10vh;
    }

    .instructions-image {
        margin: 0;
        height: 17vh;
        width: 25vw;
    }

}