* {
    font-family: "Helvetica";
}

.header-section {
    /* height: 10vh; */
    height: 125px;
    display: flex;
}

.title {
    color: #25A18E;
    font-size: 3.25rem;
    /* padding: 1.5vh 0 0 2vw;; */
    padding: 30px 0 0 40px;
}

.links {
    padding: 2vh 0 0 3vw;
    position: absolute;
    top: 2vh;
    right: 5vw;
}

.link-icon {
    font-size: 30px;
    font-size: 3rem;
    padding: 0;
    /* color: black; */
}

.fa-linkedin {
    color: #2867B2;;
}

.fa-angellist, .fa-github{
    color: black;
}

.space {
    padding: 0 10px;
}

.icon {
    text-decoration: none;
}

.start-section {
    background-color: #004E64;
}

 .message {
    color: #25A18E;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 22.5vh;
    margin-bottom: 5vh;
    padding: 0 2vw 0;
}

.message p {
    margin: 2vh 0 2vh;
}

.instructions-section {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    height: 22.5vh;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions-image {
    height: 15vh;
    width: 15vw;
    margin-top: 15px;
}

.arrow-box {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow-image {
    height: 5vh;
    width: 5vw;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    display: block;
    text-align: center;
    color: white;
    font-size: 1.75em;
    position: relative;
    z-index: 10;
    height: 5vh;
    padding-top: 2vh;
}

.form-content {
   display: flex;
   flex-direction: column;
}

.form-textarea {
    height: 15vh;
    max-height: 15vh;
    width: 50vw;
    max-width: 50vw;
}

.food-log-section {
    height: 40vh;
}

.error-message {
    color: red;
    text-align: center;
    position: relative;
    z-index: 50;
    height: 2vh;
    font-size: 20px;
    padding: 15px 0 15px 0;
}

.form-button {
    background-color: black;
    color: white;
    border: none;
    margin-top: 4vh;
    height: 5vh;
    width: 20vw;
    border-radius: 10px;
}

.button {
    text-align: center;
}


/* responsive */
@media screen and (max-width: 3000px) {
    .instructions h4, .message {
        font-size: 1.9rem;
    }

    .form-title {
        font-size: 50px;
    }
}

@media screen and (max-width: 1450px) {
    .header-section {
        height: 115px;
    }

    .link-icon {
        font-size: 2.5rem;
    }

    .instructions h4, .message {
        font-size: 1.7rem;
    }

    .form-title {
        font-size: 48px;
    }
}

@media screen and (max-width: 1233px) {
    .instructions h4, .message {
        font-size: 1.7rem;
    }

    .form-title {
        font-size: 45px;
    }
}

@media screen and (max-width: 1045px) {
    .header-section {
        height: 110px;
    }

    .instructions-section {
        padding: 0 2vw 0;
    }

    .message p {
        margin: 2vh 0 1vh;
    }

    .instructions h4, .message  {
        font-size: 1.8rem;
        text-align: center;
    }

    .form-title {
        font-size: 40px;
    }

}

@media screen and (max-width: 960px) {

    .arrow-box {
        display: none;
    }

    .message {
        margin-bottom: 5vh;
        font-size: 1.7rem;
        text-align: center;
    }

    .instructions h4 {
        font-size: 1.4rem;
    }

    .form-title {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .title { 
        font-size: 3rem;
    }
    
    .message {
        font-size: 1.5rem;
        text-align: center;
    }

    .instructions h4 {
        font-size: 1.6rem;
    } 
    
    .form-title {
        font-size: 30px;
    }

}

@media screen and (max-width: 666px) {
    .header-section {
        height: 100px;
    }

    .instructions-section {
        flex-direction: column;
        flex-wrap: wrap;
        height: 40vh;
    }

    .food-log-section {
        height: 50vh;
    }

    .message {
        font-size: 1.1rem;
        height: 25vh;
    }

    .instructions-section {
        margin-bottom: 3vh;
        height: 45vh;
    }

    .instructions-image {
        height: 15vh;
        width: 22vw;
        margin-top: 1vh;
    }

    .instructions h4, .message {
        margin-bottom: 1vh;
        text-align: center;
        font-size: 1.3rem
    }

    .form-button {
        margin-top: 9vh;
    }

    .error-message {
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 364px) {
    .title {
        font-size: 3rem;
    }

    .message {
        height: 30vh;
        font-size: 1rem;
    }

    .instructions-section {
        flex-wrap: nowrap;
        height: 70vh;
        margin-bottom: 10vh;
    }

    .instructions-image {
        margin: 0;
        height: 17vh;
        width: 25vw;
    }
}